/* App.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header styles */
h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

/* Chat container styles */
.chatContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
   overflow-y: scroll; /* Add scrollbar to the chat container */
  height: 400px; /* Set a fixed height for the chat container */
}

/* Chat box styles */
.chatBox {
  display: inline-flex;
  align-items: center;
  margin: 1rem 0;
}

.chatBox strong {
  font-weight: bold;
  margin-right: 0.5rem;
}

.chatBox span {
  font-size: 1.2rem;
  color: #666;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.container{
  display: flex;
  
}

.container.me{
  flex-direction: row-reverse;
 
}
span.myMessage {
  background-color: #4CAF50;
  color: #ffff;
}

/* Input field styles */
input[type="text"] {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  width: 50%;
  margin-top: 10px;
  margin-right: 1rem;
  margin-left: 17rem;
}

/* Submit button styles */
button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the "Send" button to be positioned next to the input field */
input[type="text"] + button[type="submit"] {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  input[type="text"], button[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  input[type="text"] {
    margin-left: 0;
  }
}

.google-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  margin: auto;
  margin-top: 250px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
