/* Footer styles */
/* Footer styles */
footer {
  background-color: #fafafa;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.col {
  flex: 1;
  max-width: 300px;
  text-align: justify;
  margin-bottom: 30px;
}

.col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.col p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.col ul li {
  margin-bottom: 10px;
}

.col ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.col ul li a:hover {
  color: #239ce2;
}

/* Custom styles for cards inside the footer */
.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-color: #239ce2;
}

.card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
}


@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    max-width: none;
  }
}
