.container {
    background-color: #F8F8F8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 36px;
    font-weight: bold;
    color: #0e0e0e;
    text-align: center;
    margin: 0;
    line-height: 1.2;
  }
  
  .heading span {
    color: #008B8B;
  }

  .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  